{% load wysiwyg %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

    <head>
        {% wysiwyg_setup %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- BASIC INFO -->
        <title>Majoria Drugs</title>
        <meta name="description" content="Majoria Drugs in Old Metairie">

        <!-- FAVICONS -->
        <link rel="icon" href="static/images/favicons/favicon.ico">
        <link rel="apple-touch-icon" href="static/images/favicons/apple-touch-icon.png">

        <!-- CSS -->

        <!-- GOOGLE FONTS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">

        <!-- LIBRARIES CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/animate.min.css">

        <!-- SPECIFIC CSS -->
        <link rel="stylesheet" href="static/css/style.css">

        <!-- COLORS -->
        <!-- <link id="color-css" rel="stylesheet" href="static/css/colors/pink.css"> -->
        <link id="color-css" rel="stylesheet" href="static/css/colors/red.css"> 
        <!-- <link id="color-css" rel="stylesheet" href="static/css/colors/orange.css"> -->
        <!-- <link id="color-css" rel="stylesheet" href="static/css/colors/yellow.css"> -->
        <!-- <link id="color-css" rel="stylesheet" href="static/css/colors/green.css"> -->
        <!-- <link id="color-css" rel="stylesheet" href="static/css/colors/turquoise.css"> -->
        <!-- <link id="color-css" rel="stylesheet" href="static/css/colors/blue.css"> -->
        {% load gtm_tags %} 
    </head>

    <body class="enable-animations enable-preloader">
        {% gtm %}
        <div id="document" class="document">
        <!-- HEADER 
        ================================= -->
        {% include 'datno/navbar.html' %} 
        {% include 'datno/footer.html' %} 
        {% include 'datno/js.html' %} 

        <textarea id="foo">Edit this text</textarea>
        {% wysiwyg_editor "foo" %} 

        </div>
    </body>
</html>