            <!-- FOOTER
            ================================= -->
            <section id="footer" class="footer-section section">
                <div class="container">
                    <div class="footer-socmed">
                        <a href="#" target="_blank"><span class="fa fa-facebook"></span></a>
                        <a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
                        <a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
                        <a href="#" target="_blank"><span class="fa fa-pinterest"></span></a>
                    </div>

                    <div class="footer-copyright"></div>
                </div>
            </section>