        <!-- LIBRARIES JS
        ================================= -->
        <script src="static/js/jquery-1.11.2.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/respimage.min.js"></script>
        <script src="static/js/jpreloader.min.js"></script>
        <script src="static/js/smoothscroll.min.js"></script>
        <script src="static/js/jquery.nav.min.js"></script>
        <script src="static/js/jquery.inview.min.js"></script>
        <script src="static/js/jquery.counterup.min.js"></script>
        <script src="static/js/jquery.stellar.min.js"></script>
        <script src="static/js/maplace-0.1.3.min.js"></script>
        <script src="static/js/responsiveslides.min.js"></script>

        <!-- MAIN SCRIPT
        ================================= -->
        <script src="static/js/script.js"></script>