
<!-- HERO
================================= -->

<section id="hero" class="hero-section hero-layout-simple hero-fullscreen section section-dark">

    <div class="section-background">

        <!-- IMAGE BACKGROUND -->
        <div class="section-background-image parallax" data-stellar-ratio="0.4">
            <img src="static/images/backgrounds/hero-bg-fullscreen-cta.jpg" alt="" style="opacity: 0.3;">
        </div>

        <!-- VIDEO BACKGROUND -->
        <!-- <div class="section-background-video section-background-dot-overlay parallax" data-stellar-ratio="0.4">
            <video preload="auto" autoplay loop muted poster="static/images/backgrounds/video-fallback-bg.jpg" style="opacity: 0.3;">
                <source type="video/mp4" src="videos/video-bg.mp4">
                <source type="video/ogg" src="videos/video-bg.ogv">
                <source type="video/webm" src="videos/video-bg.webm">
            </video>
        </div> -->

        <!-- SLIDESHOW BACKGROUND -->
        <!-- <ul class="section-background-slideshow parallax" data-stellar-ratio="0.4" data-speed="800" data-timeout="4000">
            <li><img src="static/images/backgrounds/hero-bg-slideshow-1.jpg" alt="" style="opacity: 0.25;"></li>
            <li><img src="static/images/backgrounds/hero-bg-slideshow-2.jpg" alt="" style="opacity: 0.25;"></li>
            <li><img src="static/images/backgrounds/hero-bg-slideshow-3.jpg" alt="" style="opacity: 0.2;"></li>
        </ul> -->

    </div>

    <div class="container">

        <div class="hero-content">
            <div class="hero-content-inner">

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="hero-heading text-center" data-animation="fadeIn">

                            <h1 class="hero-title">Looking for a cure for the common drug store?</h1>

                            <p class="hero-tagline">Let the professionals at Majoria Drugs take care of your needs today!</p>

                        </div>

                        <p class="hero-buttons text-center">
                            <a href="#" class="btn btn-lg btn-primary">Email Signup</a>
                        </p>

                    </div>
                </div>
                
            </div>
        </div>

    </div>

    <!-- HERO START LINK -->
    <a href="#headline" class="hero-start-link anchor-link"><span class="fa fa-angle-double-down" style="font-size: 50px"></span></a>

</section>

<!-- HEADLINE
================================= -->
<section id="headline" class="headline-section section-gray section">

    <div class="container">

        <h2 class="section-heading text-center hidden">Tagline</h2>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <p class="headline-text">
                    Staffed with world class pharmacists, <strong>Majoria Drugs</strong> has everything you would expect from a big-chain pharmacy, but with a local feel. 
                </p>

            </div>
        </div>

    </div>

</section>

<!-- DESCRIPTION
================================= -->
<section id="about" class="about-section section">

    <div class="container">

        <h2 class="section-heading text-center">About Majoria Drugs</h2>

        <div class="about-row row">

            <!-- DESCRIPTION IMAGE -->
            <div class="about-image col-md-6" data-animation="fadeIn">
                <img src="static/images/contents/about.jpg" alt="Description Image">
            </div>

            <!-- DESCRIPTION TEXT -->
            <div class="about-text col-md-6">
                <p class="lead">Our pharmacists are here to answer any questions you may have regarding your healthcare needs.  </p>
                <p>Since we buy directly from a number of manufacturers, we are able to offer our customers a large selection of over-the-counter products at discount prices.

                At Majoria Drugs, we offer fast and friendly service. </p>
                <ul class="icon-list">
                    <li>
                        <span class="icon-list-icon fa fa-heart-o" data-animation="bounceIn"></span>
                        <h4 class="icon-list-title">Helath &amp; Personal Care</h4>
                        <p>Need headache medicine? Have the flu? We have everything that those big-chain pharmacies have but with the respect you deserve.</p>
                    </li>
                    <li>
                        <span class="icon-list-icon fa fa-shopping-cart" data-animation="bounceIn"></span>
                        <h4 class="icon-list-title">More Convienant than a Grocery Store</h4>
                        <p>For your convenience we also carry beverages, milk, bread, candy, snack items, food and more.</p>
                    </li>
                    <li>
                        <span class="icon-list-icon fa fa-lightbulb-o" data-animation="bounceIn"></span>
                        <h4 class="icon-list-title">Last Minute things around the house</h4>
                        <p>Need a new lightbulb? What about some duct tape? We carry an assortment of things to help hold you over in between trips to the hardware store.</p>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</section>


<!-- NUMBERS
================================= -->
<section id="impact" class="numbers-section section-dark section">

    <div class="section-background">

        <!-- IMAGE BACKGROUND -->
        <div class="section-background-image parallax" data-stellar-ratio="0.4">
            <img src="static/images/backgrounds/numbers-bg.jpg" style="opacity: 0.2;">
        </div>

    </div>

    <div class="container">

        <h2 class="section-heading text-center">Past year's impact on the community</h2>

        <div class="numbers-row row">

            <!-- NUMBERS - ITEM 1 -->
            <div class="col-sm-6 col-md-3">
                <div class="numbers-item">
                    <div class="numbers-item-counter"><span class="counter-up">2,469</span></div>
                    <div class="numbers-item-caption">Headaches cured</div>
                </div>
            </div>

            <!-- NUMBERS - ITEM 2 -->
            <div class="col-sm-6 col-md-3">
                <div class="numbers-item">
                    <div class="numbers-item-counter"><span class="counter-up">199</span></div>
                    <div class="numbers-item-caption">Flu cases stopped</div>
                </div>
            </div>

            <!-- NUMBERS - ITEM 3 -->
            <div class="col-sm-6 col-md-3">
                <div class="numbers-item">
                    <div class="numbers-item-counter"><span class="counter-up">17,754</span></div>
                    <div class="numbers-item-caption">Prescriptions filled</div>
                </div>
            </div>

            <!-- NUMBERS - ITEM 5 -->
            <div class="col-sm-6 col-md-3">
                <div class="numbers-item">
                    <div class="numbers-item-counter"><span class="counter-up">12,358</span> </div>
                    <div class="numbers-item-caption">Customers Served</div>
                </div>
            </div>

        </div>

    </div>

</section>



<!-- TEAM
================================= -->
<section id="team" class="team-section section">

    <div class="container-fluid">
        
        <h2 class="section-heading text-center">Meet The Team</h2>

        <div class="team-row row">

            <!-- TEAM MEMBER 1 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member">
                    <img class="team-member-picture" src="static/images/contents/team-member-1.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Dennis Bodungen</h4>
                        <div class="team-member-position">Owner &amp; Pharmacist</div>
                        <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </div>
                </div>
            </div>

            <!-- TEAM MEMBER 2 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member even">
                    <img class="team-member-picture" src="static/images/contents/team-member-2.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Al Spitale</h4>
                        <div class="team-member-position">Pharmacist in Charge</div>
                        <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </div>
                </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- TEAM MEMBER 3 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member">
                    <img class="team-member-picture" src="static/images/contents/team-member-3.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Ronnie Hahn</h4>
                        <div class="team-member-position">Pharmacist</div>
                        <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </div>
                </div>
            </div>

            <div class="hidden-sm hidden-lg clear"></div>

            <!-- TEAM MEMBER 4 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member even">
                    <img class="team-member-picture" src="static/images/contents/team-member-4.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Angela Bodungen</h4>
                        <div class="team-member-position">Pharmacist</div>
                        <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </div>
                </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- TEAM MEMBER 5 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member">
                    <img class="team-member-picture" src="static/images/contents/team-member-5.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Wayne McAdams</h4>
                        <div class="team-member-position">Pharmacist</div>
                        <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </div>
                </div>
            </div>

            <!-- TEAM MEMBER 6 -->
            <div class="col-sm-6 col-md-4 col-lg-2" data-animation="fadeIn">
                <div class="team-member even">
                    <img class="team-member-picture" src="static/images/contents/team-member-6.jpg" alt="">
                    <div class="team-member-text">
                        <h4 class="team-member-name">Vic Welker</h4>
                        <div class="team-member-position">Manager &amp; Buyer</div>
                        <p class="team-member-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>


<!-- TESTIMONIAL SLIDER
================================= -->
<section id="testimonials" class="testimonial-slider-section section-dark section">

    <div class="section-background">

        <!-- IMAGE BACKGROUND -->
        <div class="section-background-image parallax" data-stellar-ratio="0.4">
            <img src="static/images/backgrounds/testimonial-slider-bg.jpg" style="opacity: 0.15;">
        </div>

    </div>

    <div class="container">

        <h2 class="section-heading text-center hidden">Trusted by Thousands</h2>

        <div class="testimonial-slider-row row">

            <div class="col-md-8 col-md-offset-2">

                <ul class="testimonial-slider rslides" data-speed="800" data-timeout="4000" data-auto="false">

                    <!-- TESTIMONIAL ITEM 1 -->
                    <div class="testimonial-slide">
                        <span class="testimonial-ratings">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                        <blockquote class="testimonial-quote">
                            <p>I love this store! They are truly professionals in every sense of the word. They filled my prescription-strength denture cream in 15 minutes flat!</p>
                        </blockquote>
                        <cite class="testimonial-cite">Dustin Lagos</cite>
                    </div>

                    <!-- TESTIMONIAL ITEM 2 -->
                    <li class="testimonial-slide">
                        <span class="testimonial-ratings">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </span>
                        <blockquote class="testimonial-quote">
                            <p>An inspiring store in today's big chain world. Local and friendly.</p>
                        </blockquote>
                        <cite class="testimonial-cite">Brian J. Bowler</cite>
                    </li>
                    

                </ul>

            </div>

        </div>

        <div class="sponsors-row" data-animation="bounceIn">
        </div>

    </div>

</section>

<!-- PORTFOLIO
================================= -->
<section id="weekly" class="portfolio-section section">

    <div class="container-fluid">

        <h2 class="section-heading text-center">Weekly Sales</h2>

        <div class="portfolio-row row">

            <!-- PORTFOLIO - ITEM 1 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="static/images/contents/portfolio-item-1.jpg" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">SCOTT BATH 1000'S OR EXTRA SOFT 400'S 20 PACK</h4>
                        <p class="portfolio-item-description numbers-item-counter">$12.49</p>
                    </div>
                </div>
            </div>

            <!-- PORTFOLIO - ITEM 2 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="static/images/contents/portfolio-item-2.jpg" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">KLEENEX FACIAL TISSUE 85+15 FREE SHEETS 3 PACK</h4>
                        <p class="portfolio-item-description numbers-item-counter">$1.99</p>
                    </div>
                </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- PORTFOLIO - ITEM 3 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="static/images/contents/portfolio-item-3.jpg" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">KOTEX LINERS OR PADS 14 TO 24 COUNT</h4>
                        <p class="portfolio-item-description numbers-item-counter">$2.69</p>
                    </div>
                </div>
            </div>

            <!-- PORTFOLIO - ITEM 4 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="static/images/contents/portfolio-item-4.jpg" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">POISE PADS JUMBO PACKS 27 TO 66 COUNT</h4>
                        <p class="portfolio-item-description numbers-item-counter">$10.99</p>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <!-- PORTFOLIO - ITEM 5 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="static/images/contents/portfolio-item-5.jpg" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">CREST PRO-HEALTH TOOTHPASTE 6 OZ.</h4>
                        <p class="portfolio-item-description numbers-item-counter">$2.99</p>
                    </div>
                </div>
            </div>

            <!-- PORTFOLIO - ITEM 6 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="static/images/contents/portfolio-item-6.jpg" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">CREST PRO-HEALTH MOUNTRINSE 1 LITER</h4>
                        <p class="portfolio-item-description numbers-item-counter">$4.49</p>
                    </div>
                </div>
            </div>

            <div class="hidden-md hidden-lg clear"></div>

            <!-- PORTFOLIO - ITEM 7 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="static/images/contents/portfolio-item-7.jpg" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">LYSOL DISINFECTANT SPRAY 12.5 OZ.</h4>
                        <p class="portfolio-item-description numbers-item-counter">$3.49</p>
                    </div>
                </div>
            </div>

            <!-- PORTFOLIO - ITEM 8 -->
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="static/images/contents/portfolio-item-8.jpg" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">LYSOL DISINFECTANT WIPES 35 COUNT</h4>
                        <p class="portfolio-item-description numbers-item-counter">$2.49</p>
                    </div>
                </div>
            </div>

            <!-- PORTFOLIO DYNAMIC 
            {% for product in product_list %}
            <div class="col-sm-6 col-md-3" data-animation="fadeIn">
                <div class="portfolio-item">
                    <img class="portfolio-item-picture" src="media/{{ product.product_image }}" alt="">
                    <div class="portfolio-item-overlay"></div>
                    <div class="portfolio-item-text">
                        <h4 class="portfolio-item-title">{{ product.product_name }}</h4>
                        <h4 class="portfolio-item-title">{{ product.product_description }}</h4>
                        <p class="portfolio-item-description numbers-item-counter">${{ product.product_price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}  -->


        </div>
    </div>
</section>



<!-- CONTACT + MAPS
================================= -->
<section id="contact-maps" class="contact-maps-section section">

    <div class="section-background">

        <!-- MAPS BACKGROUND -->
        <div class="section-background-maps">
            <div id="gmap"></div>
    
            <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
            <!-- GOGGLE MAPS CONFIGURATION -->
            <!-- ref: http://maplacejs.com/ -->
            <script>
            var gmap_options = {
                generate_controls : false,
                locations : [{
                    lat : 29.9862653,
                    lon : -90.1441691,
                    animation : google.maps.Animation.DROP,
                    html : "Majoria Drugs",
                    icon : "static/images/contents/map-1.png",
                    clickable : false,
                }],
                map_options : {
                    scrollwheel : false,
                    mapTypeControl : false,
                    streetViewControl : false,
                    zoomControlOptions : {
                        style : google.maps.ZoomControlStyle.SMALL,
                    },
                    zoom : 17,
                    set_center : [29.9861477,-90.1400824], // adjust the "lon" attribute of your first location
                },
                styles : {
                    // source: https://snazzymaps.com/style/132/light-gray
                    'custom' : [{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#d3d3d3"}]},{"featureType":"transit","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#b3b3b3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#d7d7d7"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ebebeb"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#a7a7a7"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#efefef"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#696969"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#737373"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#dadada"}]}],
                },
            };
            </script>
        </div>
    </div>

    <div class="container">
        <div class="contact-maps-row row">
            <div class="col-md-7 col-md-offset-5">

                <div class="contact-maps-box" data-animation="fadeIn">

                    <h2 class="section-heading">Contact Us</h2>
                    <p>
                    Majoria Drugs is located in the heart of Old Metairie at the intersection of Metairie Road and Bonnabel.  We are a short driving distance from anywhere in the metro New Orleans area.  We have plenty of on site parking in one of the safest neighborhoods in Metaire.  Our staff is ready to serve you and your needs.  We look forward to serving you at Majoria Drugs.   </p>

                    <div class="row">
                        <address class="col-sm-6">
                            <strong>Our Location</strong>
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-home"></i>1805 Metairie Road</li>
                                <li><i class="fa-li fa fa-phone"></i>Phone: 504.835-7211</li>
                            </ul>                                       
                        </address>
                    </div>

                    <form name="contact" action="modules/send-email.php" method="post" class="form form-ajax-submit">
                        <p><strong>Or drop us a line here:</strong></p>
                        <div class="form-validation alert"></div>
                        <div class="form-group">
                            <input type="text" name="contact-name" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="contact-email" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" name="contact-subject" class="form-control" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea name="contact-message" class="form-control" placeholder="Message" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block">Send Message</button>
                        </div>
                    </form>

                </div>
                
            </div>
        </div>
    </div>

</section>

<!-- CLOSING
================================= -->
<section id="closing" class="closing-section section-dark section">

    <div class="section-background">

        <!-- IMAGE BACKGROUND -->
        <div class="section-background-image parallax" data-stellar-ratio="0.4">
            <img src="static/images/backgrounds/closing-bg.jpg" alt="" style="opacity: 0.15;">
        </div>

    </div>

    <div class="container">

        <h3 class="closing-shout">Ready to start leaving those big chain stores behind?</h3>

        <div class="closing-buttons" data-animation="tada"><a href="#hero" class="anchor-link btn btn-lg btn-primary">Email Signup</a></div>

    </div>

</section>