<header id="header" class="header-section section section-dark navbar navbar-default navbar-fixed-top">

		<div class="container-fluid">

			<div class="navbar-header navbar-left">

				<!-- RESPONSIVE MENU BUTTON -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- HEADER LOGO -->
				<a class="navbar-logo navbar-brand anchor-link" href="#hero">
					<img src="static/images/logos/white-header-logo.png" srcset="static/images/logos/white-header-logo@2x.png 2x" alt="Majoria">
				</a>

			</div>

			<nav id="navigation" class="navigation navbar-collapse collapse navbar-right">
				
				<!-- NAVIGATION LINKS -->
				<ul id="header-nav" class="nav navbar-nav">
					
					<li><a href="#hero" class="hidden">Top</a></li>

					<li><a href="#about">About Majoria</a></li>
					<li><a href="#impact">Our Impact</a></li>
					<li><a href="#team">The Team</a></li>
					<li><a href="#testimonials">Testimonials</a></li>
					<li><a href="#weekly">Weekly Sales</a></li>
					<li><a href="#contact-maps">Contact Us</a></li>
					<li class="dropdown dropdown-hover">
						<a href="#" class="dropdown-toggle external" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#video" class="anchor-link external">Watch Our Video</a></li>
							<li><a href="#portfolio" class="anchor-link external">Refills</a></li>
							<li><a href="#testimonial" class="anchor-link external">OTC Recommendations</a></li>
							<li><a href="#faq" class="anchor-link external">FAQ</a></li>
						</ul>
					</li>
			
					
					<!-- HEADER ACTION BUTTON -->
					<li class="header-action-button"><a href="#" class="btn btn-primary">Email Signup</a></li>
				</ul>
			</nav>
		</div>
</header>