<!-- BENEFITS
			================================= -->
			<section id="benefits" class="benefits-section section-gray section">

				<div class="container">

					<h2 class="section-heading text-center">The Benefits</h2>

					<div class="benefits-row row">

						<!-- BENEFIT 1 -->
						<div class="col-sm-6 col-md-4">
							<div class="benefit">
								<span class="benefit-icon fa fa-bicycle" data-animation="bounceIn"></span>
								<h4 class="benefit-title">Built with Bootstrap 3.3</h4>
								<p class="benefit-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
							</div>
						</div>

						<!-- BENEFIT 2 -->
						<div class="col-sm-6 col-md-4">
							<div class="benefit">
								<span class="benefit-icon fa fa-code" data-animation="bounceIn"></span>
								<h4 class="benefit-title">Quick &amp; Easy Setup</h4>
								<p class="benefit-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
							</div>
						</div>

						<div class="hidden-md hidden-lg clear"></div>

						<!-- BENEFIT 3 -->
						<div class="col-sm-6 col-md-4">
							<div class="benefit">
								<span class="benefit-icon fa fa-eye" data-animation="bounceIn"></span>
								<h4 class="benefit-title">Responsive &amp; Retina Ready</h4>
								<p class="benefit-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
							</div>
						</div>

						<div class="hidden-sm clear"></div>

						<!-- BENEFIT 4 -->
						<div class="col-sm-6 col-md-4">
							<div class="benefit">
								<span class="benefit-icon fa fa-smile-o" data-animation="bounceIn"></span>
								<h4 class="benefit-title">Clean Codes &amp; Documentation</h4>
								<p class="benefit-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
							</div>
						</div>

						<div class="hidden-md hidden-lg clear"></div>

						<!-- BENEFIT 5 -->
						<div class="col-sm-6 col-md-4">
							<div class="benefit">
								<span class="benefit-icon fa fa-pagelines" data-animation="bounceIn"></span>
								<h4 class="benefit-title">Optimized for Performance</h4>
								<p class="benefit-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
							</div>
						</div>

						<!-- BENEFIT 6 -->
						<div class="col-sm-6 col-md-4">
							<div class="benefit">
								<span class="benefit-icon fa fa-paperclip" data-animation="bounceIn"></span>
								<h4 class="benefit-title">Fit for Any Purposes</h4>
								<p class="benefit-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
							</div>
						</div>

					</div>

				</div>

			</section>

			<!-- HOW IT WORKS
			================================= -->
			<section id="how-it-works" class="how-it-works-section section">

				<div class="container-fluid">
					
					<h2 class="section-heading text-center">How it Works</h2>

					<div class="hiw-row row">

						<!-- HOW IT WORKS - ITEM 1 -->
						<div class="col-sm-6 col-md-3" data-animation="fadeIn">
							<div class="hiw-item">
								<img class="hiw-item-picture" src="static/images/contents/hiw-item-1.jpg" alt="">
								<div class="hiw-item-text">
									<span class="hiw-item-icon">1</span>
									<h4 class="hiw-item-title">Choose a Layout</h4>
									<p class="hiw-item-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
								</div>
							</div>
						</div>

						<!-- HOW IT WORKS - ITEM 2 -->
						<div class="col-sm-6 col-md-3" data-animation="fadeIn">
							<div class="hiw-item even">
								<img class="hiw-item-picture" src="static/images/contents/hiw-item-2.jpg" alt="">
								<div class="hiw-item-text">
									<span class="hiw-item-icon">2</span>
									<h4 class="hiw-item-title">Edit &amp; Customize</h4>
									<p class="hiw-item-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
								</div>
							</div>
						</div>

						<div class="hidden-md hidden-lg clear"></div>

						<!-- HOW IT WORKS - ITEM 3 -->
						<div class="col-sm-6 col-md-3" data-animation="fadeIn">
							<div class="hiw-item">
								<img class="hiw-item-picture" src="static/images/contents/hiw-item-3.jpg" alt="">
								<div class="hiw-item-text">
									<span class="hiw-item-icon">3</span>
									<h4 class="hiw-item-title">Upload to Hosting</h4>
									<p class="hiw-item-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
								</div>
							</div>
						</div>

						<!-- HOW IT WORKS - ITEM 4 -->
						<div class="col-sm-6 col-md-3" data-animation="fadeIn">
							<div class="hiw-item even">
								<img class="hiw-item-picture" src="static/images/contents/hiw-item-4.jpg" alt="">
								<div class="hiw-item-text">
									<span class="hiw-item-icon">4</span>
									<h4 class="hiw-item-title">Finished!</h4>
									<p class="hiw-item-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
								</div>
							</div>
						</div>

					</div>

				</div>

			</section>

			<!-- VIDEO SECTION
			================================= -->
			<section id="video" class="video-section section-gray section">

				<div class="container">

					<h2 class="section-heading text-center">Watch the Video</h2>

					<div class="row">
						<div class="col-md-10 col-md-offset-1">

							<div class="video-embed">

								<!-- VIDEO EMBED FROM VIMEO -->
								<iframe class="video-async" data-source="vimeo" data-video="115134273" data-color="f3ae73" allowfullscreen></iframe>
								
								<!-- VIDEO EMBED FROM YOUTUBE -->
								<!-- <iframe class="video-async" data-source="youtube" data-video="7UAy8E3e9f8" allowfullscreen></iframe> -->

							</div>

						</div>
					</div>

				</div>
			</section>

			<!-- TWO COLS DESCRIPTION SECTION
			================================= -->
			<section id="two-cols-description" class="two-cols-description-section section-accent section">

				<div class="container-fluid two-cols-description-row">

					<!-- TWO COLS DESCRIPTION TEXT -->
					<div class="two-cols-description-text" data-animation="fadeInLeft">

						<div class="two-cols-description-text-inner">

							<h2 class="section-heading text-left">Two Columns Section</h2>

							<p>You can put image / video embed in the column to the right. If you like, you can also swap the columns, which means this text column will be on the right hand side, while the image column is on the left. While on this column, you may want to put some description paragraphs or a nice list like below:</p>

							<ul class="nice-list">
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
								<li>Sed feugiat arcu ut orci porta, eget porttitor felis suscipit.</li>
								<li>Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.</li>
							</ul>
							
						</div>

					</div>

					<!-- TWO COLS DESCRIPTION IMAGE -->
					<div class="two-cols-description-image" data-animation="fadeInRight">
						<img src="static/images/backgrounds/two-cols-description-bg.jpg" alt="">
					</div>

				</div>

			</section>

			<!-- PRICING SECTION
			================================= -->
			<section id="pricing" class="pricing-section section">

				<div class="container">

					<h2 class="section-heading text-center">Pricing Table</h2>

					<div class="row text-center">
						<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
							<p>Maecenas mollis rutrum bibendum. Etiam mollis diam risus, at varius ex dapibus sed. In in leo at sapien placerat sagittis.</p>
						</div>
					</div>

					<!-- PRICING TABLE -->
					<div class="pricing-table row">

						<!-- PRICING PACKAGE 1 -->
						<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0" data-animation="fadeInUp">
							<div class="pricing-package">
								<div class="pricing-package-header">
									<h4 class="price-title">Personal</h4>
									<div class="price">
										<span class="price-currency">$</span>
										<span class="price-number">0</span>
										<span class="price-decimal"></span>
									</div>
									<div class="price-description">FREE Forever</div>
								</div>
								<ul class="pricing-package-items">
									<li>Up to 20 Projects</li>
									<li>500MB Harddisk Space</li>
									<li>Up to 1000 Monthly Visitors</li>
									<li><del>Custom Domain</del></li>
									<li><del>Premium Themes Access</del></li>
									<li>24/7 Customer Support</li>
								</ul>
							</div>
						</div>

						<!-- PRICING PACKAGE 2 -->
						<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0" data-animation="fadeInUp">
							<div class="pricing-package pricing-package-featured">
								<div class="pricing-package-header">
									<h4 class="price-title">Professional</h4>
									<div class="price">
										<span class="price-currency">$</span>
										<span class="price-number">13</span>
										<span class="price-decimal">99</span>
									</div>
									<div class="price-description">Billed monthly</div>
									<div class="price-featured">Most Popular</div>
								</div>
								<ul class="pricing-package-items">
									<li>Up to 200 Projects</li>
									<li>5GB Harddisk Space</li>
									<li>Unlimited Visitors</li>
									<li>Custom Domain</li>
									<li><del>Premium Themes Access</del></li>
									<li>24/7 Customer Support</li>
								</ul>
							</div>
						</div>

						<!-- PRICING PACKAGE 3 -->
						<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0" data-animation="fadeInUp">
							<div class="pricing-package">
								<div class="pricing-package-header">
									<h4 class="price-title">Enterprise</h4>
									<div class="price">
										<span class="price-currency">$</span>
										<span class="price-number">69</span>
										<span class="price-decimal">99</span>
									</div>
									<div class="price-description">Billed monthly</div>
								</div>
								<ul class="pricing-package-items">
									<li>Unlimited Projects</li>
									<li>Unlimited Harddisk Space</li>
									<li>Unlimited Visitors</li>
									<li>Custom Domain</li>
									<li>Premium Themes Access</li>
									<li>24/7 Customer Support</li>
								</ul>
							</div>
						</div>

					</div>

				</div>

			</section>

			<!-- FAQ
			================================= -->
			<section id="faq" class="faq-section section">

				<div class="container">

					<h2 class="section-heading text-center">Frequently Asked Questions</h2>

					<div class="faq-row row">

						<div class="col-md-6">
							<div class="faq-item">
								<span class="faq-item-icon fa fa-question-circle"></span>
								<h4 class="faq-item-heading">How do I get started?</h4>
								<div class="faq-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="faq-item">
								<span class="faq-item-icon fa fa-question-circle"></span>
								<h4 class="faq-item-heading">What are the requirements?</h4>
								<div class="faq-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="faq-item">
								<span class="faq-item-icon fa fa-question-circle"></span>
								<h4 class="faq-item-heading">Is there any nice tutorial?</h4>
								<div class="faq-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="faq-item">
								<span class="faq-item-icon fa fa-question-circle"></span>
								<h4 class="faq-item-heading">How about the quality?</h4>
								<div class="faq-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="faq-item">
								<span class="faq-item-icon fa fa-question-circle"></span>
								<h4 class="faq-item-heading">How long til I can launch my page?</h4>
								<div class="faq-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="faq-item">
								<span class="faq-item-icon fa fa-question-circle"></span>
								<h4 class="faq-item-heading">How to report issue / feedback?</h4>
								<div class="faq-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.</div>
							</div>
						</div>

					</div>

				</div>

			</section>